*.in
*.o
*.a
*.pro.user
/ui/moc_*
/ui/ui_*.h
.deps
Makefile
/aclocal.m4
/autom4te.cache
/compile
/config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
config.h
config.h.in~
config.log
config.status
libtool
stamp-h1
src/ahp
